{
  "rules": {
    "indentation": 2,
     "block-no-empty": null,
    "comment-empty-line-before": [ "always", {
      "ignore": ["stylelint-commands", "after-comment"]
    } ],
    "declaration-colon-space-after": "always",
    "declaration-colon-space-before": "never",
    "max-empty-lines": 1,
    "rule-empty-line-before": [ "always", {
      "except": ["first-nested"],
      "ignore": ["after-comment"]
    } ],
    "unit-whitelist": ["em", "rem", "%", "s", "px", "deg", "ms", "vh", "vw", "fr"],
    "block-opening-brace-space-before": "always",
    "selector-combinator-space-after": "always",
    "selector-pseudo-class-case": "lower",
    "selector-pseudo-element-case": "lower",
    "selector-list-comma-newline-after": "always",
    "selector-list-comma-space-before": "never",
    "at-rule-semicolon-newline-after": "always",
    "at-rule-semicolon-space-before": "never",
    "no-extra-semicolons": true,
    "no-duplicate-at-import-rules": true,
    "no-duplicate-selectors": true,
    "no-empty-source": true,
    "no-invalid-double-slash-comments": true,
    "color-no-invalid-hex": true,
    "color-hex-case": "lower",
    "no-missing-end-of-source-newline": true,
    "declaration-empty-line-before": "never",
    "no-empty-first-line": true,
    "declaration-block-no-duplicate-properties": true,
    "selector-pseudo-element-no-unknown": true
  }
}
